<header>
    <h1 class="center">Feature Jobs</h1>
</header>

<button class="btn btn-primary view">
    View All
</button>

<div style="margin-top: 5px;">
</div>

<div class="row align-items-center mx-auto">
    <div class="row">
        <div class="cols-2">
            <h1 class="h1">How it works</h1>
            <div class="col-lg-3 col-md-6 d-flex this">
                <div class="single-process text-center mb-20 mx-auto">
                    <div class="process-ion" style="margin-top: 20px;">
                        <img src="https://www.placeassured.com/assets/img/icon/register.png" style="height: 80px;">
                    </div>
                    <div class="col-5">
                        <div class="process-cap">
                            <h5 class="register">1. Register</h5>
                            <p class="register-para">Register and build your profile with us.</p>
                        </div>
                    </div>
                </div>
                <div class="margin-left:120px;">
                    &nbsp;&nbsp;&nbsp;
                </div>
                <div class="single-process text-center mb-20 mx-auto">
                    <div class="process-ion" style="margin-top: 20px;">
                        <img src="https://www.placeassured.com/assets/img/icon/upload.png" style="height: 80px;">
                    </div>
                    <div class="col-5">
                        <div class="process-cap">
                            <h5 class="register">2. Upload</h5>
                            <p class="register-para">Upload resume and get the best jobs listings.</p>
                        </div>
                    </div>
                </div>
                <div class="margin-left:100px;">
                    &nbsp;&nbsp;&nbsp;
                </div>
                <div class="single-process text-center mb-20 mx-auto">
                    <div class="process-ion" style="margin-top: 20px;">
                        <img src="https://www.placeassured.com/assets/img/icon/search.png" style="height: 80px;">
                    </div>
                    <div class="col-5">
                        <div class="process-cap">
                            <h5 class="register">3. Search a Job</h5>
                            <p class="register-para">Choose best job that suits you.</p>
                        </div>
                    </div>
                </div>
                <div class="margin-left:120px;">
                    &nbsp;&nbsp;&nbsp;
                </div>
                <div class="single-process text-center mb-20 mx-auto">
                    <div class="process-ion" style="margin-top: 20px;">
                        <img src="https://www.placeassured.com/assets/img/icon/view.png" style="height: 80px;">
                    </div>
                    <div class="col-5">
                        <div class="process-cap">
                            <h5 class="register">4. View Details</h5>
                            <p class="register-para">Read detailed information about job and company.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-2">
                <div class="col-lg-3 col-md-6 d-flex this">
                    <div class="single-process text-center mb-20 mx-auto">
                        <div class="process-ion" style="margin-top: 20px;">
                            <img src="https://www.placeassured.com/assets/img/icon/apply.png" style="height: 80px;">
                        </div>
                        <div class="col-5">
                            <div class="process-cap">
                                <h5 class="register">5. Apply</h5>
                                <p class="register-para">Boost your career by applying job.</p>
                            </div>
                        </div>
                    </div>              
                    <div class="ml-120">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="single-process text-center mb-20 mx-auto">
                        <div class="process-ion" style="margin-top: 20px;">
                            <img src="https://www.placeassured.com/assets/img/icon/download.png" style="height: 80px;">
                        </div>
                        <div class="col-5">
                            <div class="process-cap">
                                <h5 class="register">6. Download</h5>
                                <p class="register-para">Download the call letter and get ready for the interview.</p>
                            </div>
                        </div>
                    </div>              
                    <div class="ml-120">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="single-process text-center mb-20 mx-auto">
                        <div class="process-ion" style="margin-top: 20px;">
                            <img src="https://www.placeassured.com/assets/img/icon/hire.png" style="height: 80px;">
                        </div>
                        <div class="col-5">
                            <div class="process-cap">
                                <h5 class="register">7. Get a job</h5>
                                <p class="register-para">Get a job that matches your qualifications and interests.</p>
                            </div>
                        </div>
                    </div>              
                </div>
            </div>
        </div>
    </div>
</div>