<footer>
    
    <!-- Footer Start-->
    <div class="footer-top" style=" background-image: url('https://www.placeassured.com//assets/assets/css/footerback2.jpg');">
  <div class="container pt-5">
    <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact text-left text-white" data-aos="fade-up" data-aos-delay="100">
            <p class="text-white mb-1"><strong>Address :</strong></p>
            <p class="text-white" style="font-size: 15px;line-height: 20px"><strong style="font-weight: 900;">Head Office :</strong><br>Paradise Plaza, Second Floor,<br> Kamptee Rd, Above Bank Of India,<br>Kadbi Chowk,<br>Nagpur, Maharashtra 440014</p>
            <p class="text-white" style="font-size: 15px;line-height: 20px"><strong style="font-weight: 900;">Branch Office :</strong><br>Plot no 26, Khandwekar Bunglow,<br>Canal Road, Near L'AMOUR<br>Ramdaspeth,<br>Nagpur, Maharashtra 440010</p>
            <p class="text-white mb-1" style="padding-top:10px;"><strong>Phone :</strong> </p>
            <p class="text-white" style="font-size: 15px;line-height: 20px"><a href="tel:7887881274">+91-7887881274</a> <br><a href="9763335681">+91-9763335681</a><br><a href="9607460009">+91-9607460009</a></p>
             
            <p class="text-white mb-1" style="padding-top:10px;"><strong>Email :</strong> </p>
            <p class="text-white" style="font-size: 15px;line-height: 20px"><a href="mailto:resumes@placeassured.com">resumes@placeassured.com</a><br> (For Job Seekers) </p>
            <p class="text-white" style="font-size: 15px;line-height: 20px"><a href="mailto:client@placeassured.com">client@placeassured.com</a><br> (For Employers)</p>
            
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.plc.placeassuredcons"><img style="width: 240px;" src="https://www.placeassured.com/android/Android Apk/play-store.png" class="img-fluid"></a>
        </div>

      <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="200">
        <h4 class="text-left text-white">Useful Links</h4>
        <ul>
          <li><i class="fa fa-chevron-right" style="color: white;"></i> <a href="https://placeassured.com/Home/weoffer" class="text-white">We Offer</a></li>
          <li><i class="fa fa-chevron-right" style="color: white;"></i> <a href="https://placeassured.com/Home/whyus" class="text-white">Why Us</a></li>
          <li><i class="fa fa-chevron-right" style="color: white;"></i> <a href="https://placeassured.com/Home/weserve" class="text-white">We Serve</a></li>
          <li><i class="fa fa-chevron-right" style="color: white;"></i> <a href="https://placeassured.com/Home/privacy_policy" class="text-white">Privacy Policy</a></li>
          <li><i class="fa fa-chevron-right" style="color: white;"></i> <a href="https://placeassured.com/Home/return_refund_policy" class="text-white">Return &amp; Refund Policy</a></li>
          <li><i class="fa fa-chevron-right" style="color: white;"></i> <a href="https://placeassured.com/Home/terms_cond" class="text-white">Terms &amp; Conditions</a></li>
          <li><i class="fa fa-chevron-right" style="color: white;"></i> <a href="https://placeassured.com/sitemap.xml" class="text-white" target="_blank">Sitemap</a></li>
        </ul>
        <div class="social-links mt-3" style="text-align:left;">
          <a href="https://www.facebook.com/placeassured" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/placeassured90/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCoN655JhQjndf90wFmM7CNQ/featured" class="youtube"><i class="bx bxl-youtube"></i></a>
        </div>
        <h4 class="text-white">Visitor Counter</h4>
        <a href="https://www.freecounterstat.com" title="free website counter"><img src="https://counter7.stat.ovh/private/freecounterstat.php?c=8rcbmdmby14ubbtbfg66cdphfwam3t3h" border="0" title="free website counter" alt="free website counter"></a>
      </div>
<div class="col-lg-6 col-md-6">
      
        
      <div class="col-lg-12 col-md-12 footer-links" data-aos="fade-up" data-aos-delay="400">
        <h4 class="text-white">Find Us On Map</h4>
        <p><iframe class="iframmap col-md-12 p-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.587618453036!2d79.08968531424779!3d21.168803488360048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c089362d7295%3A0xfcf9d157be2199e2!2sPlace%20Assured%20Consultants!5e0!3m2!1sen!2sin!4v1628775149361!5m2!1sen!2sin" allowfullscreen="" style="width:  100%; height: 300px;border-radius:15px;"></iframe></p>
        
        
      </div>
      <div class="col-lg-12 col-md-12 footer-links" data-aos="fade-up" data-aos-delay="400">
        <h4 class="text-white">Find Us On Facebook</h4>
        <p><iframe class="iframfb" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fplaceassured%2F&amp;tabs=timeline&amp;height=500&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" style="width:  100%;border-radius:15px;"></iframe></p>
         <!--<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-dd937718-0875-481f-91a1-00b8d4942680"></div>-->
         <!--<script type="text/javascript" src="https://free-hit-counters.net/count/9n3w"></script><br>
         <a href='https://www.free-counters.org/'>&nbsp;</a> <script type='text/javascript' src='https://www.whomania.com/ctr?id=3e547f4f87bbebe36a146eeec2dfc98eb7cd86d6'></script>-->
        

        
      </div>
</div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color:#000000;color:#ffffff;padding: 20px 0 10px 0;">
  <div class="row">
      <div class="col-sm-12">
          <div style="text-align:center;">
            © 2021 <strong><span>Place Assured Consultants Pvt. Ltd. | An ISO Certified Company 9001 : 2015</span></strong> | All Rights Reserved. | Designed by <a href="https://www.shatam.com/">Shatam.com</a>
          </div>
      </div>
  </div>
</div>
    <!-- Footer End-->
</footer>
