<app-links></app-links>    

<div class="row">
    <div class="cols-2">
        <div class="fixed-top"style="background-color:red;padding:10px;">
            <b><i class="fa fa-facebook iface"></i></b>
            <b><i class="fa fa-instagram"></i></b>
            <b><i class="fa fa-linkedin ilinkedin"></i></b>
            <b><i class="fa fa-whatsapp iwhats"></i></b>
            <b><i class="fa fa-youtube itube"></i></b>
            <b><i class="fa fa-twitter itube"></i></b>
            <b><i class="fa fa-play itube"></i></b>
        </div>
    </div>
    <div class="cols-10">
        <div class="isohead">
            <i>An ISO Certified Company 9001 : 2015</i>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <!-- <div class="col-lg-2 col-md-2">
            <a href="">
                <img src="https://www.placeassured.com/assets/img/logo/logo.png" alt="">
            </a>
        </div> -->
        <div class="col-lg-10">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Why Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Find Jobs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">We Offer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">We Serve</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                        </ul>
                        <div class="header-btn d-none f-right d-lg-block  mt-2 mb-2 white">
                            <a href="#" class="btn head-btn1" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Register</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="https://www.placeassured.com/home/emp_reg">Do you want
                                    Employee?</a>
                                <a class="dropdown-item" href="https://www.placeassured.com/home/job_see_reg">Do you
                                    want Job?</a>

                            </div>
                            <a href="https://www.placeassured.com/home/job_seeker" class="btn head-btn2">Login</a>

                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>