<div class="container">
    <h1 class="serviceCenter">Services We Offer</h1>

<div class="row d-flex justify-contnet-center mx-auto">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex">
        <div class="single-services text-center mb-15 shadow mx-auto d-flex">
            <div class="services-ion">
                <img src="src/app/assets/img/icon/Professional_Training.png">
            </div>
            <div class="services-cap">
                <h5><a href="#">Professional Training</a></h5>
                <span>Personal Interviews / Business Etiquettes / English Speaking / Group Discussions</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex">
        <div class="single-services text-center mb-15 shadow mx-auto d-flex">
            <div class="services-ion">
                <img src="C:\Users\Mohammad Tauheed\Desktop\PlaceAssured\src\app\assets\recruitment.png">
            </div>
            <div class="services-cap">
                <h5><a href="#">Recruitment</a></h5>
                <span>Executive Search / Interview and Closure / Follow up</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex">
        <div class="single-services text-center mb-15 shadow mx-auto d-flex">
            <div class="services-ion">
                <img src="src/app/assets/img/icon/Training_Sessions.png">
            </div>
            <div class="services-cap">
                <h5><a href="#">Training sessions</a></h5>
                <span>Mind Training Sessions / Motivational Talks / NLP Certified training</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex">
        <div class="single-services text-center mb-15 shadow mx-auto d-flex">
            <div class="services-ion">
                <img src="src/app/assets/img/icon/Resume_Writing.png">
            </div>
            <div class="services-cap">
                <h5><a href="#">Resume Writing</a></h5>
                <span>Does your resume have that X-Factor? <br>if no we will help you to get that</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex">
        <div class="single-services text-center mb-15 shadow mx-auto d-flex">
            <div class="services-ion">
                <img src="src/app/assets/img/icon/Database.png">
            </div>
            <div class="services-cap">
                <h5><a href="#">Large Database</a></h5>
                <span>Mind Training Sessions / Motivational Talks / NLP Certified training</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex">
        <div class="single-services text-center mb-15 shadow mx-auto d-flex">
            <div class="services-ion">
                <img src="src/app/assets/img/icon/head_hunting.png">
            </div>
            <div class="services-cap">
                <h5><a href="#">Head Hunting</a></h5>
                <span>Direct search for the Ideal Profile</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex">
        <div class="single-services text-center mb-15 shadow mx-auto d-flex">
            <div class="services-ion">
                <img src="src/app/assets/img/icon/Career_Consultation.png">
            </div>
            <div class="services-cap">
                <h5><a>Career Consultation</a></h5>
                <span>Our expert make you believe which career suits you better. Your talent, our solution!</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex">
        <div class="single-services text-center mb-15  shadow mx-auto d-flex">
            <div class="services-ion">
                <img src="src/app/assets/img/icon/Practical_Training.png">
            </div>
            <div class="services-cap">
                <h5><a href="#">HR Practical Training</a></h5>
                <span>We offer the best HR practices to prepare the young talents for the corporate world</span>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="single-testimonial text-center slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10" style="width: 770px;">
        <!-- Testimonial Content -->
        <div class="testimonial-caption ">
            <!-- founder -->
            <div class="testimonial-founder  ">
                <div class="founder-img mb-30">
                    <img src="../assets/img/testmonial/testimonial-founder.png" alt="">
                    <span>Margaret Lawson</span>
                    <p>Creative Director</p>
                </div>
            </div>
            <div class="testimonial-top-cap">
                <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
            </div>
        </div>
    </div>
</div>